{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "assert\\(.*\\);",
            "if \\(PHP_VERSION_ID.*\\).*"
        ]
    },
    "minMsi": 84,
    "minCoveredMsi": 89.7
}
